@font-face{
    font-family: Borest;
    src: url(../fonts/Borest-Standard.otf);
}

@font-face{
    font-family: Respective;
    src: url(../fonts/Respective-VP6y.ttf);
}

@font-face{
    font-family: Beauty;
    src: url(../fonts/Beauty\ Atok\ Script\ family\ 3.otf);
}
